/* Define project needs */
/* 
(1)---Typography needs
-Font Sizes
10 / 12 / 14 / 16 / 18 / / 20 / 24 / 30 / 36 / 44 / 52 /62 / 74 / 86 / 98

-Font Weight:
Default:400;
-Line Height:
default 1

(2) Color

-Primary #e67e22
-Tints:#fae5d3
-Shades:
-accents:
-greys
#555

(03) Shadows

(04) Border Radius

(05) White Space
-Spacing System
2 / 4 / 8 / 12 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/






/* ------------------ */
html{
  font-size: 62.5%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #555;
}